@{
    ViewData["Title"] = "Home Page";
}

<div class="row shadow p-5 m-5" style="margin-top:500px;">


    <div class="col mt-5">
        <h2 class="text-primary text-center">
            Human Resource Information Systems
        </h2>
    </div>


</div>
